body {
    font-family: 'Roboto', sans-serif;
}

.container {
    margin: 0 2.4rem;
}

nav .logo {
    height: 3rem;
    width: auto;
    padding: 1rem 2rem;
}


.hero {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.hero__img {
    background-image: url(./img/hero.jpg);
    width: auto;
    height: 40rem;
    background-position: cover;
    background-size: 100%;
    background-repeat: no-repeat;
}



.hero__header {
    margin-bottom: 1.6rem;
}

.card--img {
    height: 30rem;
    width: auto;
    border-radius: 0.9rem;
}

.card{
    width: 13.7rem;
  
}
.bold {
    font-weight: bold;
}

.card--stats {
    display: flex;
    align-items: center;
}

.card--stats i {
    color: rgb(175, 5, 59);
}

.card--stats > span:last-child, .card--stats > span:nth-child(3) {
    color: gray;
}