body {
    font-family: 'Roboto', sans-serif;
}



nav .logo {
    height: 4rem;
    width: auto;
    padding: 2rem 0;
}



.hero {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.hero__img--1 {
    max-width: 1000px;
    align-self: center;
}

.hero__header {
    margin-bottom: 1.6rem;
}

.card--img {
    height: 30rem;
    width: auto;
    border-radius: 0.9rem;
}

.card{
    width: 13.7rem;
  
}
.bold {
    font-weight: bold;
}

.card--stats {
    display: flex;
    align-items: center;
}

.card--stats i {
    color: rgb(175, 5, 59);
}

.card--stats > span:last-child, .card--stats > span:nth-child(3) {
    color: gray;
}