body {
    font-family: 'Roboto', sans-serif;
}

.container {
    margin: 0 2.4rem;
}

nav .logo {
    height: 3rem;
    width: auto;
    padding: 1rem 2rem;
}


.hero {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hero__photo {
    background-image: url(../public/img/hero.jpg);
    background-position: cover;
    background-repeat: no-repeat;
    height: 90vh;
    width: auto;
}


.hero__header {
    margin-bottom: 1.6rem;
}

.card--img {
    height: 30rem;
    width: auto;
    border-radius: 0.9rem;
}

.card-parent{
  display: flex;
     flex: 1;
     overflow: auto;
     
}
.card {
    margin-right: 0.5rem;
    position: relative;
}
.bold {
    font-weight: bold;
}

.card--stats {
    display: flex;
    align-items: center;
}

.card--stats i {
    color: rgb(175, 5, 59);
}

.card--stats > span:last-child, .card--stats > span:nth-child(3) {
    color: gray;
}

.card__badge {
    position : absolute;
    left: 3%;
    top: 2%;
    background-color: white;
    text-align: center;
    font-weight: 800;
    border-radius: 10px;
    padding: 0.5rem 0.5rem;
}